In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
import matplotlib.pyplot as plt

In [ ]:
engine = create_engine("mysql+pymysql://root:DBcod3gir1s@localhost/readings", echo=False)

In [ ]:
connection = engine.raw_connection()

In [ ]:
### Table authors

In [ ]:
aut = pd.read_csv('authors.csv')
aut.head(3)
aut['name']=aut['name'].astype(str)
aut.info()

In [ ]:
engine.execute("""CREATE TABLE authors (
author_id INTEGER NOT NULL,
name VARCHAR(70), 
CONSTRAINT
pk_authors_id
PRIMARY KEY
(author_id)
);""")

In [ ]:
for row in aut.iterrows():
    query = f"""insert into authors (author_id, name) VALUES ('{row[1].author_id}', '{row[1]['name']}')"""
    engine.execute(query)

In [ ]:
## Table publishers

In [ ]:
pub = pd.read_csv('publishers.csv')
pub.head(3)
pub['publisher'] = pub['publisher'].astype(str)

In [ ]:
engine.execute("""CREATE TABLE publishers (
    publisher_id INTEGER NOT NULL,
    publisher VARCHAR(70), 
    CONSTRAINT
    pk_publisher_id
    PRIMARY KEY
    (publisher_id)
);""")

In [ ]:
engine.execute('DELETE FROM publishers')

In [ ]:
for row in pub.iterrows():
    query = f"""INSERT INTO publishers (publisher_id, publisher) VALUES ('{row[1].publisher_id}', '{row[1]['publisher']}')"""
    engine.execute(query)

In [ ]:
## Table connector book-author

In [ ]:
c_b_a = pd.read_csv('connector_book_author_ids.csv')
c_b_a.head(3)
#c_b_a['publisher'] = c_b_a['publisher'].astype(str)

In [ ]:
engine.execute("""CREATE TABLE connect_book_author (
    book_id INTEGER NOT NULL,
    author_id INTEGER NOT NULL
);""")

In [ ]:
for row in c_b_a.iterrows():
    query = f"""INSERT INTO connect_book_author (book_id, author_id) VALUES ('{row[1].book_id}', '{row[1]['author_id']}')"""
    engine.execute(query)

In [ ]:
## Table connector book-publisher

In [ ]:
c_b_p = pd.read_csv('connector_book_publisher_ids.csv')
c_b_p.head(3)

In [ ]:
engine.execute("""CREATE TABLE connect_book_publisher (
    book_id INTEGER NOT NULL,
    publisher_id INTEGER NOT NULL
);""")

In [ ]:
for row in c_b_p.iterrows():
    query = f"""INSERT INTO connect_book_publisher (book_id, publisher_id) VALUES ('{row[1].book_id}', '{row[1]['publisher_id']}')"""
    engine.execute(query)

In [ ]:
## Table connector ratings

In [ ]:
ratings = pd.read_csv('ratings.csv')

In [ ]:
engine.execute(""" CREATE TABLE ratings (
    isbn VARCHAR(15) NOT NULL,
    average_rating DOUBLE,
    ratings_count INTEGER,
    text_reviews_count INTEGER,
    CONSTRAINT pk_ratings_id
    PRIMARY KEY (isbn)
);
""")

In [ ]:
for row in ratings.iterrows():
    query = f"""INSERT INTO ratings (isbn, average_rating, ratings_count, text_reviews_count)
                VALUES ('{row[1].isbn}', '{row[1].average_rating}', '{row[1].ratings_count}', '{row[1].text_reviews_count}')"""
    engine.execute(query)

In [ ]:
## Table connector books

In [ ]:
books = pd.read_csv('books.csv')
books.num_pages[223:226]

In [ ]:
engine.execute(""" CREATE TABLE books (
    isbn VARCHAR(15) NOT NULL,
    title VARCHAR(200),
    num_pages INTEGER,
    publication_date DATE,
    book_id INTEGER NOT NULL,
    CONSTRAINT pk_isbn_id
    PRIMARY KEY (isbn)
);
""")

In [ ]:
engine.execute(""" DELETE FROM books""")

In [ ]:
books.loc[books.book_id == 6686, 'publication_date'] = '2000-11-30'

In [ ]:
for row in books.iterrows():
    title = row[1]['title'].replace("'", " ").replace("%", "")[:200]
    #print(row[1])
    query = f"""INSERT INTO books (isbn, title, num_pages, publication_date, book_id )
          VALUES ('{row[1].isbn}', '{title}', '{int(row[1]['num_pages'])}', '{row[1].publication_date}', '{row[1].book_id}')
          -- ON CONFLICT DO NOTHING"""
    engine.execute(query)

In [ ]:
## Visualization

In [ ]:
data =pd.read_csv('cycle.txt', sep="\t")
data.columns
plt.plot(data['year'], data['total_books'], c='purple', linewidth =3)
plt.ylabel('Total published books', fontsize =15)
plt.xlabel('Year', fontsize =15)
plt.yticks(fontsize =13)
plt.xticks(fontsize =13)
plt.gca().set_facecolor((0.6, 0, 1, 0.05))
plt.legend(['total_books'], bbox_to_anchor=(0.3,1))
plt.grid()
####
plt.gca().twinx().plot(data['year'], data['total_ratings']/1000, c='r',linewidth=3)
plt.ylabel('Total Ratings (K)', fontsize =15)
plt.yticks(fontsize =13, )
plt.legend(['total_ratings'], bbox_to_anchor=(0.32,0.9))
plt.savefig("trend.jpg",bbox_inches='tight')
plt.show()